<h1>Stupid Coaching</h1>

<div class= "answer-container">
  <p id ="question"><%= @question %><em> -You</em></p>
  <p id = "answer"><%= @answer %><em> -Your coach</em></p>

  <%= link_to "Ask a new question", ask_path %>
</div>
